@font-face {
    font-family: 'MeteoconsRegular';

    src: url('../font/meteocons-webfont.eot');
    src: url('../font/meteocons-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/meteocons-webfont.woff') format('woff'),
         url('../font/meteocons-webfont.ttf') format('truetype'),
         url('../font/meteocons-webfont.svg#MeteoconsRegular') format('svg');
         
    font-weight: normal;
    font-style: normal;

}

.symbol {
	font-family: 'MeteoconsRegular';
	font-size: 5em;
    text-align: center;
}

.symbol:before {
	font-family: 'MeteoconsRegular';
	content: attr(data-icon);
}

.temperature {
    font-size: 5em;
    text-align: center;
}
